<h2 class="page-header">Admin</h2>
<h3>Users</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="col-xs-3"><span class="glyphicon glyphicon-triangle-bottom"
                                       aria-hidden="true"></span> UserName
            </th>
            <th class="col-xs-3"><span class="glyphicon glyphicon-triangle-bottom"
                                       aria-hidden="true"></span> Password
            </th>
            <th class="col-xs-3"><span class="glyphicon glyphicon-triangle-bottom"
                                       aria-hidden="true"></span> Role
            </th>
            <th class="col-xs-3"><span class="glyphicon glyphicon-triangle-bottom"
                                       aria-hidden="true"></span> Action
            </th>
        </tr>

        <tr>
            <th><input type="text" class="form-control" placeholder="username"></th>
            <th><input type="text" class="form-control" placeholder="password"></th>
            <th><input type="text" class="form-control" placeholder="role1,role2"></th>
            <th><a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="#"><span class="glyphicon glyphicon-ok"></span></a>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Alice</td>
            <td></td>
            <td>student</td>
            <td><a href="#"> <span class="glyphicon glyphicon-remove iconsize"> </span></a>
                <a href="#"><span class="glyphicon glyphicon-pencil iconsize"></span></a>
            </td>
        </tr>
        <tr>
            <td>Bob</td>
            <td></td>
            <td>faculty | admin</td>
            <td><a href="#"><span class="glyphicon glyphicon-remove iconsize"></span></a>
                <a href="#"><span class="glyphicon glyphicon-pencil iconsize"></span></a>
            </td>
        </tr>

        <tr>
            <td>Charlie</td>
            <td></td>
            <td></td>
            <td><a href="#"><span class="glyphicon glyphicon-remove iconsize"></span></a>
                <a href="#"><span class="glyphicon glyphicon-pencil iconsize"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
