<br>
<br>
<div class="container-fluid" ng-controller="HomeController">
    <form class="form-horizontal">

        <div class="form-group">
            <div class="col-sm-10">
                <input id="txtState" type="text" ng-model="state" class="form-control"
                       placeholder="Search for Trail By State">
            </div>
            <div class="col-sm-2">
                <a class="btn btn-block btn-primary" ng-click="searchByInput()">Search</a>
            </div>
        </div>

        <div>
            <h3>Search Results</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Poster</th>
                    <th>Trail Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="place in places.data.places">
                    <td>
                        <img src="{{place.activities[0].thumbnail}}"
                             height="100px"/>
                    </td>
                    <td>
                        <a href="#/search/{{place.lat}}/{{place.lon}}/{{place.name}}/{{place.city}}">
                            {{place.name}}
                        </a>
                    </td>
                    <td>{{place.activities[0].description}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>