<form class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4 control-label">
            {{place.name}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-4 control-label">
         {{place.activities[0].description}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">City</label>
        <div class="col-sm-4 control-label">
           {{place.city}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Country</label>
        <div class="col-sm-4 control-label">
            {{place.country}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">State</label>
        <div class="col-sm-4 control-label">
            {{place.state}}
        </div>
    </div>

</form>