<div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
<div class="form-horizontal">
    <div class="form-horizontal page-header">
        <div class="row">
            <div class="col-sm-4">
                <h3>{{model.firstname}},{{model.lastname}}&nbsp;&nbsp; <button class="btn-group-sm btn-info"
                                                                                  ng-click="model.followUser()">Follow
                </button> </h3>
            </div>

        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">About Me</label>
        <div class="col-sm-5">
            <label ng-model="model.aboutme" class="col-sm-2 control-label">{{model.aboutme}}</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">User Name</label>
        <div class="col-sm-5">
            <label ng-model="model.username" class="col-sm-2 control-label">{{model.username}}</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Date Of Birth</label>
        <div class="col-sm-5">
            <label ng-model="model.dob" class="col-sm-5 control-label">{{model.dob | date:'yyyy-MM-dd'}}</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-5">
            <label ng-model="model.email" class="col-sm-2 control-label">{{model.email}}</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Favourite Treks</label>
        <div class="col-sm-1" ng-repeat="trek in model.favoriteTreks">
            <a href="">{{trek}}</a>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Following</label>
        <div class="col-sm-1" ng-repeat="user in model.following">
            <a href="#/viewuser/{{user}}">{{user}}</a>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Photos</label>
        <div class="col-sm-1" ng-repeat="image in model.trekimages">
            <img src="{{image}}" class="img-responsive bingImages">
        </div>
    </div>
</div>