.bingImages {
    max-width: 100%;
    width: 25%;
    height: 50%;
}

.cover{
    max-width: 100%;
    background-image: url("../images/hiker_cover.jpg");
    background-position: center;
}

.form-horizontal .control-label {
    text-align: left;
}

.custom {
    width: 100%;
}

.centered {
    vertical-align: middle;
    text-align: center;
}

.glyphicon {
    font-size: large;
}

.glyphicon-triangle-bottom {
    font-size: small;
}

.tblwidth {
    width: 50%;
}

.notbold {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}


