.bingImages {
    max-width: 100%;
    width: 25%;
    height: 50%;
}

.angular-google-map-container {
    height: 400px;
}

.cover {
    background: url("../images/hiker_cover_3.jpg") no-repeat center center fixed;
    --webkit-background-size: cover;
    --moz-background-size: cover;
    --o-background-size: cover;
    background-size: cover;
    /*background-color: white;*/
}

.labelcolor {
    color: whitesmoke;
}

.form-horizontal .control-label {
    text-align: left;
}

.custom {
    width: 100%;
}

.centered {
    vertical-align: middle;
    text-align: center;
}

.glyphicon {
    font-size: large;
}

.glyphicon-triangle-bottom {
    font-size: small;
}

.tblwidth {
    width: 50%;
}

.notbold {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}


