<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <p>
        <h3 class="labelcolor">
            <i>"Climb Mountains not so the world can see you, but so you can see the world"</i><br>
        </h3>
        The website contains information about hundreds of trails and treks spread across United States Of America.
        Search for a trail/trek by state, find the directions for the trail/trek and check if weather allows to do
        your trail
        on a particular day.</p>
    </div>

</div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <!--<div class="col-sm-1"></div>-->
                <div class="col-sm-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <!--<input id="txtState" type="text" ng-model="state" class="form-control"-->
                                <!--placeholder="Search for Trail By State">-->

                                <autocomplete id="txtState" ng-model="state" data="states" class="autocomplete">
                                </autocomplete>

                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-block btn-primary" ng-click="searchByInput()">Search</a>
                            </div>
                        </div>

                        <div ng-show="filteredplaces.length >=0">

                            <h3>Search Results</h3>

                            <div class="row" ng-repeat="place in filteredplaces">
                                <div class="col-sm-12">
                                    <a class="labelcolor"
                                       href="#/search/{{place.unique_id}}/{{place.name}}/{{place.lat}}/{{place.lon}}">
                                        {{place.name}}
                                    </a>

                                    <div ng-bind-html="place.activities[0].description">
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <pagination ng-model="currentPage" total-items="places.length" max-size="maxSize"
                                        boundary-links="true">
                            </pagination>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
    </div>
</div>
</div>