<form class="form-horizontal">
    <div class="form-group page-header">
        <div class="row">
            <div class="col-sm-4">
                <h2>{{model.place.name}}</h2>
            </div>
            <div class="col-sm-2">
                <button class="btn-group-sm" ng-click="model.favorite(model.place)">Like</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-4 control-label">
            {{model.place.activities[0].description}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">City</label>
        <div class="col-sm-4 control-label">
            {{model.place.city}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Country</label>
        <div class="col-sm-4 control-label">
            {{model.place.country}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">State</label>
        <div class="col-sm-4 control-label">
            {{model.place.state}}
        </div>
    </div>

    <div class="form-group form-horizontal" ng-repeat="data in model.weather.data.daily.data">
        <label class="col-sm-2 control-label">Weather Summary</label>
        <div class="col-sm-1 control-label">
            {{data.summary}}
        </div>
        <div class="col-sm-1 control-label">
            <skycon icon="data.icon"></skycon>
        </div>


    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"> Weather For a Future Date</label>
        <div class="col-sm-3">
            <input type="date" class="form-control" ng-model="model.startdate">
        </div>
        <div class="col-sm-2">
            <a ng-click="model.getWeatherForFuture()" class="btn btn-group-sm btn-info">Get Weather</a>
        </div>
    </div>

    <br>


    <div class="form-group">
        <h3 class="page-header">Images of this trail </h3>
        <div class="row">
            <div class="col-sm-8">
                <img ng-repeat="result in model.images" ng-src="{{result.Thumbnail.MediaUrl}}"
                     class="img-responsive img-thumbnail  bingImages">
            </div>
        </div>
    </div>

    <div class="form-group">
        <h3 class="page-header">Maps and Directions </h3>
        <div class="row">
            <div class="col-sm-8">
                <ui-gmap-google-map center='model.map.center' zoom='model.map.zoom'>
                    <ui-gmap-marker idkey="model.marker.id" coords="marker.location">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>


    <div ng-show="{{loggedInUser}}">

        <div class="form-group">
            <h3 class="page-header">Users Who Liked this trail</h3>
            <div class="col-sm-8" ng-repeat="trail in model.userTrails">
                {{trail}}
            </div>
        </div>


        <!--<div class="form-group">-->
        <!--<h3 class="page-header">Rate the Trek</h3>-->
        <!--<div class="col-sm-2">-->
        <!--<label for="sel1">Question 1 </label>-->
        <!--<select class="form-control" id="sel1">-->
        <!--<option>Select an Option</option>-->
        <!--<option>1</option>-->
        <!--<option>2</option>-->
        <!--<option>3</option>-->
        <!--<option>4</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<div class="col-sm-2">-->
        <!--<label for="sel2">Question 2</label>-->
        <!--<select class="form-control" id="sel2">-->
        <!--<option>Select an Option</option>-->
        <!--<option>1</option>-->
        <!--<option>2</option>-->
        <!--<option>3</option>-->
        <!--<option>4</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<div class="col-sm-2">-->
        <!--<label for="sel3">Question 3</label>-->
        <!--<select class="form-control" id="sel3">-->
        <!--<option>Select an Option</option>-->
        <!--<option>1</option>-->
        <!--<option>2</option>-->
        <!--<option>3</option>-->
        <!--<option>4</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<div class="col-sm-2">-->
        <!--<label for="sel4">Question 4</label>-->
        <!--<select class="form-control" id="sel4">-->
        <!--<option>Select an Option</option>-->
        <!--<option>1</option>-->
        <!--<option>2</option>-->
        <!--<option>3</option>-->
        <!--<option>4</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <h3 class="page-header">Reviews</h3>
            <div class="col-sm-8">
        <textarea ng-model="model.comment" class="form-control" rows="4" cols="50">
        </textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <button class="btn-group-sm btn-info" ng-click="model.addComment()">Add Comment</button>
                <button class="btn-group-sm btn-info" ng-click="model.updateComment()">Update Comment</button>
            </div>
            <div class="col-sm-2">

            </div>


        </div>


        <div class="form-group" ng-repeat="comment in model.comments">
            <div class="col-sm-3">
                {{comment.comment}}
            </div>

            <div class="col-sm-2">
                <a href="/profile">{{comment.username}} </a>
            </div>

            <div class="col-sm-2">
                <button class="btn-group-sm btn-danger" ng-click="model.deleteComment($index)">Delete</button>
                <button class="btn-group-sm btn-info" ng-click="model.selectComment($index)">Select</button>
            </div>
        </div>

    </div>
</form>
